---
import Layout from '../layouts/Layout.astro';

const showContact = false;
const yearsOfExperience = new Date().getFullYear() - 2010;

const skills = [
  {
    name: 'Frontend',
    description: 'Javascript, Typescript, React, Vue, Ember, React Native, Expo, Angular, Astro, Nuxt, CSS, TailwindCSS, Bootstrap'
  },
  {
    name: 'Backend',
    description: 'NodeJS, NestJS, Express, PHP, MongoDB, MySQL, PostgreSQL'
  },
  {
    name: 'Video games',
    description: 'Unity3D, WebGL, ThreeJS'
  }
];

const jobs = [
  {
    title: 'Lead Frontend Engineer',
    company: 'Atani',
    url: 'https://atani.com/',
    from: '2024 January',
    to: 'Current position',
    description: [
    'Crypto exchange and aggregator. I developed and improved the web (React), desktop (Electron) and mobile (React Native + Expo) applications. I also mentored devs, reviewed PRs and helped adopting frontend and general good development practices like Clean Code, SOLID and TDD.',
    ]
  },
  {
    title: 'Senior Frontend Engineer',
    company: 'Qonto',
    url: 'https://www.qonto.com/',
    from: '2021 October',
    to: '2023 December',
    description: [
    'B2B bank, I contributed to the development of the Spend Management section of the application, made with Ember. I worked together with the Product, Design and Backend teams to create new features and improve the existing.',
    ]
  },
  {
    title: 'Senior Frontend Engineer',
    company: 'Solera Inc.',
    url: 'https://www.solera.com/',
    from: '2021 January',
    to: '2021 September',
    description: [
      'I led the development of a web application (React) to manage risks and assessments of truck insurers. I worked on improving the app as well as mentored a team of 3 junior developers to adopt good frontend practices.',
    ]
  },
  {
    title: 'Senior Software Engineer',
    company: 'Pod Group',
    url: 'https://www.podgroup.com/',
    from: '2019 September',
    to: '2020 December',
    description: [
    'A telecommunication and IoT company. My work was to design and implement of fullstack features in the operations and stock management applications (Angular), as well as backend microservices for invoicing (NestJS), authentication (ExpressJS) and stock (AWS Lambda).',
      'I was also involved in the implementation and continuous improvement of agile methodologies for a high quality and efficient development.',
    ]
  },
  {
    title: 'Frontend Lead',
    company: 'Easy Payment Gateway',
    url: 'https://www.easypaymentgateway.com',
    from: '2018 July',
    to: '2019 July',
    description: [
      'Payment processing company, I led the development of a back office app made with Angular in an agile team. I also assisted the rest of the frontend developers of the company in different projects given the lack of seniority in those teams.',
    ]
  },
  {
    title: 'Full Stack Developer',
    company: 'Realcom Code',
    url: 'https://www.realcomcode.com/',
    from: '2015 January',
    to: '2018 July',
    description: [
    'Consultancy company where I worked on different projects: Canadian home and car insurance company (Frontend with AngularJS), a student exchange program application (Fullstack with Python and Backbone), and an electoral listing application (Fullstack with PHP and VanillaJS) of a company specialised in politics.',
    ]
  },
  {
    title: 'Game Designer and Developer',
    company: 'Corta Studios and Arcadict',
    url: 'http://cortastudios.com/',
    from: '2013 August',
    to: '2015 January',
    description: [
      'Design and development of video games with Unity3D, and soundtrack composition and arrangement.',
    ]
  },
  {
    title: 'Cofounder and Software Engineer',
    company: 'Kometasoft',
    url: 'https://kometasoft.com/',
    from: '2012 September',
    to: '2013 August',
    description: [
      'Software consulting, engineering and development. Mainly web sites, mobile apps and e-commerce shops. Core technologies: PHP, MySQL, Android SDK, Javascript, jQuery, Magento.'
    ]
  },
  {
    title: 'Software Engineer',
    company: 'Football Radar',
    url: 'https://www.footballradar.com/',
    from: '2010 September',
    to: '2012 September',
    description: [
    'Full stack development in an agile, dynamic team of a football statistics company. I worked on an application showing live statistics and betting odds, all obtained from different providers and a team of game watchers, and streamed to the app via Websockets. The app was divided in a monolith (PHP), frontend code with VanillaJS and jQuery, and a Websocket broker in Ruby.',
    ]
  }
];

const studies = [
  {
    title: 'MSc. Computer Science and Engineering',
    institute: 'Universidad de Sevilla',
    url: 'http://www.us.es/'
  }
];

// Obfuscated contact info
const contact = {
  email: {
    user: 'angel',
    domain: 'makmonty.com'
  },
  phone: {
    country: '+34',
    region: '651',
    number: '193286'
  }
};
---
<style>
  h1 {
    font-size: 3em;
    margin-bottom: 0;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  @media print {
    body {
      background: white;
      color: #444;
      font-size: 11px;
    }

    :global(footer) {
      position: fixed;
      bottom: 32px;
    }

    article {
      gap: 10px;
    }

    a {
      text-decoration: none;
    }

    ul, p {
      margin: 8px 0;
    }

    h1, h2, h3, h4, h5, .title {
      font-family: "Roboto Slab";
      color: black;
      margin: 0;
    }

    h1 {
      font-size: 2.4em;
    }

    h2 {
      font-size: 2em;
      margin-top: -8px;
    }

    .title {
      display: none;
    }

    strong {
      color: black;
    }

    .job {
      margin-bottom: 6px;

      h3, h4 {
        margin: 0;
      }

      h3 {
        font-size: 1.4em;
      }

      h4 {
      }

      p {
        margin: 0;
      }
    }

    .about-me {
      margin-bottom: 8px;

      h2 {
        display: none;
      }

      p {
        margin: 0;
      }
    }

    .contact {
      margin-top: -8px;

      h2 {
        display: none;
      }
      ul {
        margin: 0;
      }
    }
  }
</style>

<Layout title="CV">
  <article>
    <header>
      <h1>Ángel Brasero Moreno</h1>
      <div class="title"><strong>Software Engineer</strong></div>
    </header>

    {showContact && (
      <section class="contact">
        <h2>Contact me</h2>
        <ul>
          <li>{contact.email.user}@{contact.email.domain}</li>
          <!-- <li><strong>Phone</strong>: {contact.phone.country}{contact.phone.region}{contact.phone.number}</li> -->
        </ul>
      </section>
    )}

    <section class="about-me">
      <h2>About me</h2>
      <p>
      I'm an engineer passionate about software craftsmanship. {yearsOfExperience}+ years of experience with web technologies working for companies from UK, Canada, France and Spain. With extensive experience on many frontend and backend frameworks and libraries, I also value principles like SOLID, testing (TDD), and CI/CD to build reliable, maintainable systems.
      </p>
    </section>

    <section class="skills">
      <h2>Skills</h2>
      <ul>
        {skills.map(skill => (
          <li>
            <strong>{skill.name}</strong>: {skill.description}
          </li>
        ))}
      </ul>
    </section>

    <section class="work-experience">
      <h2>Work Experience</h2>

      <div>
        <ul>
          {jobs.map(job => (
            <li class="job">
              <h3>
                <strong>{job.title}</strong> at <a href={job.url}>{job.company}</a>
              </h3>
              <h4>
                {job.from} - {job.to ? job.to : 'Current job'}
              </h4>
                {job.description.map(paragraph => (
                  <p>
                    <Fragment set:html={paragraph} />
                  </p>
                ))}
            </li>
          ))}
        </ul>
      </div>
    </section>

    <section class="education">
      <h2>Education</h2>

      <div>
        <ul>
          {studies.map(study => (
            <li>
              <h3><strong>{study.title}</strong> at <a href={study.url}>{study.institute}</a></h3>
            </li>
          ))}
        </ul>
      </div>
    </section>
  </article>
</Layout>
