---
import { type MarkdownInstance } from 'astro';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { type App, type Game, type WebExperiment } from '../types/content';

const apps: Array<MarkdownInstance<App>> = await Astro.glob('./apps/*.md')
const games: Array<MarkdownInstance<Game>> = await Astro.glob('./games/*.md');
const webExperiments: Array<WebExperiment> = [
  {
    title: 'Maze',
    slug: 'maze',
    featuredImage: '/cms/img/maze-promo.jpg',
  }
];
---
<Layout title="Projects">
  <article>
    {!!apps.length &&
      <section>
        <h2>Apps</h2>
        <div class="project-list">
          {apps.map(item => (
            <a href={item.url}>
              <ProjectCard project={item.frontmatter} />
            </a>
          ))}
        </div>
      </section>
    }

    {!!webExperiments.length &&
      <section>
        <h2>Web experiments</h2>
        <div class="project-list">
          {webExperiments.map(item => (
            <a href={`/${item.slug}`}>
              <ProjectCard project={item} />
            </a>
          ))}
        </div>
      </section>
    }

    {!!games.length &&
      <section>
        <h2>Games</h2>
        <div class="project-list">
          {games.map(item => (
            <a href={item.url}>
              <ProjectCard project={item.frontmatter} />
            </a>
          ))}
        </div>
      </section>
    }
  </article>
</Layout>

<style>
.project-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

a {
  text-decoration: none;
}
</style>
