---
const { type, disabled: disabled, href, accent } = Astro.props as {
  type: 'button' | 'submit' | 'reset' | undefined,
  disabled: boolean,
  href: string,
  accent: string
};

const className = [
  'button',
  ...(disabled ? [ 'disabled' ] : []),
  ...(accent ? [ accent ] : [ 'default' ])
];
---
{
  href ? (
    <a
      href={href}
      class:list={className}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      disabled={disabled}
      class:list={className}
    >
      <slot />
    </button>
  )
}

<style>
.button {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--fg-color);
  color: var(--fg-color);
  border-radius: 9999px;
  padding: 10px 12px;
}

.primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.primary:hover {
  background: var(--primary-active-color);
}

.secondary {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.secondary:hover {
  background: var(--secondary-active-color);
}

.primary, .secondary {
  color: var(--bg-color);
  border: none;
}
</style>
