---
const { type, disabled: disabled, href, color } = Astro.props as {
  type: 'button' | 'submit' | 'reset' | undefined,
  disabled: boolean,
  href: string,
  color: string
};

const className = [
  'button',
  'focus:outline-none',
  'rounded-full',
  'hover:text-primary',
  'text-' + (['primary', 'dark'].includes(color) ? 'light' : 'primary'), // text-primary text-light
  'border',
  'border-primary',
  'text-center',
  'px-4',
  'py-2',
  'bg-' + color, // bg-primary bg-light bg-dark
  'hover:bg-gray-300',
  'transition',
  'duration-100',
  ...('disabled' ? ['disabled'] : [])
];
---
{
  href ? (
    <a
      href={href}
      class:list={className}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      disabled={disabled}
      class:list={className}
    >
      <slot />
    </button>
  )
}

<style>
.button {
  display: inline-block;
}
</style>
