---
const { type, disabled, href, color } = Astro.props;
const className = [
  'focus:outline-none',
  'rounded-full',
  'hover:text-primary',
  'text-' + (['primary', 'dark'].includes(color) ? 'light' : 'primary'), // text-primary text-light
  'border',
  'border-primary',
  'text-center',
  'px-4',
  'py-2',
  'bg-' + color, // bg-primary bg-light bg-dark
  'hover:bg-gray-300',
  'transition',
  'duration-100'
];
---
{
  href ? (
    <a
      href={href}
      class:list={className}
      disabled={disabled}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      disabled={disabled}
      class:list={className}
    >
      <slot />
    </button>
  )
}
