---
import AppNav from '../components/AppNav.astro';
import 'line-awesome/dist/line-awesome/css/line-awesome.css';
import '../../styles/style.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;

const socialLinks = [
  {
    href: 'http://github.com/makmonty',
    title: 'Github',
    icon: 'github'
  },
  {
    href: 'https://www.linkedin.com/in/angelbraseromoreno/',
    title: 'Linkedin',
    icon: 'linkedin'
  },
  {
    href: 'https://soundcloud.com/angel-brasero-moreno',
    title: 'Soundcloud',
    icon: 'soundcloud'
  },
  {
    href: 'http://twitter.com/makmonty',
    title: 'Twitter',
    icon: 'twitter'
  },
  {
    href: 'https://www.instagram.com/makmonty_/',
    title: 'Instagram',
    icon: 'instagram'
  },
  {
    href: 'https://octodon.social/@makmonty',
    title: 'Mastodon',
    icon: 'mastodon',
    rel: 'me'
  },
];
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <style>
    i span {
      font-size: 0;
    }
    </style>
	</head>
	<body>
    <div>
      <header class="w-full relative z-20">
        <AppNav />
      </header>

      <div class="relative z-10">
        <slot />
      </div>

      <footer>
        <div class="container mx-auto p-8">
          <p>Find me at...</p>
          <div class="space-x-8 mt-8 text-3xl">
            {socialLinks.map(link => (
              <a
                href={link.href}
                title={link.title}
                rel={link.rel}
              >
                <i class:list={['lab', 'la-' + link.icon]}><span>{link.title}</span></i>
              </a>
            ))}
          </div>
        </div>
      </footer>
    </div>
    <script>
    declare global {
    interface Window { netlifyIdentity: any; }
}
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: object) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
	</body>
</html>
