---
import AppNav from '../components/AppNav.astro';
import 'line-awesome/dist/line-awesome/css/line-awesome.css';
import '../../styles/style.css';

interface Props {
	title: string;
}

const { title } = Astro.props;

const socialLinks = [
  {
    href: 'http://github.com/makmonty',
    title: 'Github',
    icon: 'github'
  },
  {
    href: 'https://www.linkedin.com/in/angelbraseromoreno/',
    title: 'Linkedin',
    icon: 'linkedin'
  },
  {
    href: 'https://soundcloud.com/angel-brasero-moreno',
    title: 'Soundcloud',
    icon: 'soundcloud'
  },
  {
    href: 'http://twitter.com/makmonty',
    title: 'Twitter',
    icon: 'twitter'
  },
  {
    href: 'https://www.instagram.com/makmonty_/',
    title: 'Instagram',
    icon: 'instagram'
  },
  {
    href: 'https://octodon.social/@makmonty',
    title: 'Mastodon',
    icon: 'mastodon',
    rel: 'me'
  },
];
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
<style>
i span {
  font-size: 0;
}

footer {
  margin: 64px 0;
}

.main-layout {
  width: 800px;
  margin: 0 auto;
}

.social-links a {
  font-size: 2em;
  text-decoration: none;
}
</style>
	<body>
    <div class="main-layout">
      <header>
        <AppNav />
      </header>

      <div>
        <slot />
      </div>

      <footer>
        <div>
          <h2>Find me at...</h2>
          <div class="social-links">
            {socialLinks.map(link => (
              <a
                href={link.href}
                title={link.title}
                rel={link.rel}
              >
                <i class:list={['lab', 'la-' + link.icon]}><span>{link.title}</span></i>
              </a>
            ))}
          </div>
        </div>
      </footer>
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: object) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
	</body>
</html>
