---
import BlueskyIcon from '../images/bluesky.svg?raw';
import AppNav from '../components/AppNav.astro';
import 'line-awesome/dist/line-awesome/css/line-awesome.css';
import '../../styles/style.css';

interface Props {
  title: string;
}

const { title } = Astro.props;

const socialLinks = [
  {
    href: 'http://github.com/makmonty',
    title: 'Github',
    icon: 'github',
    showOnPrint: true,
  },
  {
    href: 'https://tkz.one/@makmonty',
    title: 'Mastodon',
    icon: 'mastodon',
    rel: 'me',
    showOnPrint: false,
  },
  {
    href: 'https://bsky.app/profile/makmonty.itch.io',
    title: 'Bluesky',
    icon: BlueskyIcon,
    showOnPrint: false,
  },
  {
    href: 'https://www.linkedin.com/in/angelbraseromoreno/',
    title: 'Linkedin',
    icon: 'linkedin',
    showOnPrint: true,
  },
  {
    href: 'https://soundcloud.com/angel-brasero-moreno',
    title: 'Soundcloud',
    icon: 'soundcloud',
    showOnPrint: false,
  },
];
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <slot name="head" />

    <style>
      i span {
        font-size: 0;
      }

      footer {
        margin: 64px 0;
      }

      .main-layout {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 32px;
      }

      .social-links {
        display: flex;
        gap: 16px;

        a {
          font-size: 2em;
          text-decoration: none;
        }

        svg {
          width: 1em;
          height: auto;
        }
      }

      @media print {
        header {
          display: none;
        }
        @page {
            size: 210mm 297mm; /* landscape */
            margin: 0;  /* this affects the margin in the printer settings */
        }
        body {
          margin: 30px 15px;
        }
        footer {
          margin: 0;

          h2 {
            display: none;
          }
          .social-link {
            display: none;
            font-family: inherit;
            font-size: 16px;

            i {
              font-size: inherit;
              font-family: inherit;

              &::before {
                display: none;
              }

              span {
                font-size: inherit;
                font-family: inherit;
              }
            }

            &.show-print {
              display: inline-block;
            }
          }
        }
      }
    </style>
  </head>

  <body>
    <div class="main-layout">
      <header>
        <AppNav />
      </header>

      <section>
        <slot />
      </section>

      <footer>
        <div>
          <h2>Find me at...</h2>
          <div class="social-links">
            {socialLinks.map(link => (
              <a
                href={link.href}
                title={link.title}
                rel={link.rel}
                class:list={['social-link', link.showOnPrint ? 'show-print' : '']}
              >
              {link.icon.includes('<svg') ? (
                  <Fragment set:html={link.icon} />
                ) : (
                <i class:list={['lab', 'la-' + link.icon ]}><span>{link.title}</span></i>
                )}
              </a>
            ))}
          </div>
        </div>
      </footer>
    </div>
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
  </body>
</html>
